body,html{height:100%;}
/* ui-form
-----------------------------------------------------------------------------*/
.input-group, .input-group *, .input-group-checkbox, .input-group-radio, .input-group-checkbox *, .input-group-radio * { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.input-group { border-collapse: separate; display: table; position: relative; }
.input-group label { display: block; }
.input-group-addon { background-color: #fff; border: 1px solid #e1e1e1; border-radius: 4px; border-bottom-right-radius: 0; border-top-right-radius: 0; color: #333; font-size: 14px; font-weight: 400; line-height: 1; padding: 10px; text-align: center; display: table-cell; vertical-align: middle; white-space: nowrap; width: 1%; }

.input-group-checkbox, .input-group-radio { display: inline-block; position: relative; font-size: 14px; color: #909090; }
.input-group-checkbox label { display: block; cursor: pointer; }
.input-group-checkbox label input[type="checkbox"], .input-group-radio label input[type="radio"] { position: absolute; opacity: 0; width: 1px; height: 1px; }
.input-group-checkbox .input-group-pack, .input-group-radio .input-group-pack { width: 20px; height: 20px; background-color: #ffffff; border: 1px #d3d3d3 solid; padding: 0; margin: 0 5px 0 0; position: relative; display: inline-block; vertical-align: middle; border-radius: 5px; overflow: hidden; top: -2px; }
.input-group-radio .input-group-pack { border-radius: 50%; }
.input-group-checkbox .input-group-pack.input-group-pack-disabled, .input-group-radio .input-group-pack.input-group-pack-disabled { background-color: #f0f0f0; }
.input-group-checkbox .input-group-pack .tick { display: block; width: 12px; height: 2px; background: #4dcd70; margin: 8px 0 0 6px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); position: relative; top: 50px; }
.input-group-checkbox .input-group-pack .tick:after { content: ''; width: 8px; height: 2px; background: #4dcd70; position: absolute; top: -3px; left: -5px; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); }
.input-group-radio .input-group-pack .disc { display: block; content: "" !important; width: 0px; height: 0px; border-radius: 50%; background-color: #4dcd70; margin: 4px; }
.input-group-checkbox input[type="checkbox"]:checked ~ .tick, .input-group-checkbox .input-group-pack.checked .tick { top: 0px; }
.input-group-radio input[type="radio"]:checked ~ .disc, .input-group-radio .input-group-pack.checked .disc { width: 10px; height: 10px; }
.input-group-switch input.thread:after { content: ''; width: 20px; height: 20px; position: absolute; top: 3px; left: 0; border-radius: 100%; background-color: #fff; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); -webkit-transition: left 0.2s; transition: left 0.2s; }
/*******************************/
.c-btn-9dd15a { background-color: #9dd15a; color: #fff;}
.c-btn-9dd15a:hover { background-color: #92c650; }
body { font:14px/20px 微软雅黑,"Microsoft Yahei"; color:#555; background:url(../images/bg.jpg) no-repeat center top; background-size:cover;}
.login-wrap { width: 742px; height:435px; background-color:#fff; background-color:rgba(255,255,255,.95); margin: 0 auto; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;_width: 742px;_height:435px;_background:#fff;}
.login-wrap-fixed {position:fixed; left:50%; top:50%; margin-left:-371px; margin-top:-217px;_position:absolute;_width:742px;_height:235px;_background:#fff;}
.login-tit { height: 38px; padding:35px 0;color:#78b22d;font-size:22px;text-align:left;width:548px;margin:0 auto;line-height:38px;}
.login-tit img { display: block; margin: 0 auto;}
.login { position: relative; width: 700px; margin: 0 auto 0;}
.qrlogin { display: inline; float: left; width: 340px; text-align: center;}
.qr_title_text { display: inline-block; height: 40px; padding:0; margin: 0 0 15px; width: 200px; color:#838383; font-size: 18px; font-weight: 100; *display: inline; *zoom:1;}
#qrlogin_step1 { position: relative; width: 184px; height: 184px; margin: 0 auto; border:1px solid #8b8d90; background-color:#f6f6f6;}
.qrlogin_img { width: 156px; margin-top: 14px;}
.use_tips { display: inline-block; margin-top: 20px; padding:5px 15px; width:156px; color:#737373; background-color:#e9e9e9; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; *display: inline; *zoom:1;}
.signin_sep { display: inline; float: left; width:1px; height: 243px; margin:0 5px; position: relative;}
.signin_sep_line { display: block; width: 100%; height: 100%; background-color:#e6e6e6;}
.signin_sep_text { position: absolute; top:40%; left: -20px; display: block; padding:3px 0; width: 40px; color:#b8b8b8; background-color:#fff; background-color:rgba(255,255,255,.95); text-align: center;}
.signin-area { display: inline; float: left; margin: 0 0 0 50px; width: 240px; padding:1px 17px;}
.input_login_text { margin: 0 0 30px; padding:0; font-size: 18px; font-weight: 100; text-align: left; color:#838383;}
.signin-area-bg { display: inline; float: left; width:255px; margin-top:0; min-height:253px; position: relative;}
.input01 { padding:2px 2px 2px 10px; width:240px; height: 30px; line-height: 30px; border:1px solid #ccc; color:#868686; font-size: 16px;}
.mt18 { margin-top: 18px;}
.btn-signin { width: 254px; height: 36px; font-size: 16px;}
/*用户名密码*/
.input_boxer {border:1px solid #dddddd;padding:6px 10px;color:#bbbbbb;border-radius:3px;background:#fff;line-height:26px;}
.input_boxer span{display:block;}
.input_boxer input{border:none;height:24px;line-height:24px;width:207px;color:#bbbbbb;_width:188px;_border:0 none}
.input_boxer.focus{border-color:#40d0a7;}
.sign-input_a{width:255px;}
.sign-input_a a{padding:10px 0;}
.remember_password{font-size:13px;}
.remember_password a{color:#007cd9;}
.input_boxer span{display:block;}
/* customed checkbox */
.icon-chkbox { display: inline-block; width:16px; height:17px; margin-right: 8px; background: url(../images/icon-checkbox.png) no-repeat; vertical-align: middle; *display: inline; *zoom:1;}
.icon-chkbox.checked { background-position: -16px 0;}
/**/
.gou_boxer{cursor:pointer;}